.editorconfig
.eslintrc
.jsbeautifyrc
.nyc_output/**
*.bat
*.dat
*.html
*.json
*.md
*.pl
*.png
*.svg
*.sh
*.txt
*.yaml
**/*.gql
*/dist/*
*Dockerfile*
automation/gitlab/Dockerfile
documentation/artifacts
githooks
install
install/
Jenkinsfile
jmeter.properties
logs
package.json
projects/agent_aware/chrome-extension
projects/agent_aware/dist
projects/agent_aware/keys
projects/server/ssl-keys
projects/server/node_modules
projects/server/logs
projects/server/coverage
projects/server/tools
projects/ufe-headers/*
projects/ui/src/constants/gql/
projects/ui/src/thirdparty/
projects/ui/thirdparty/
sitespeed-result/*
sonar-scanner.properties
test/output/
test/spec/locales/ResourceList.js
