.ackrc
.clinic
.DS_Store
.editorconfig
.idea
.nyc_output/**
.tern-project
*.iml
*.log
*.sublime*
*.swo
*.swp
**/dist/*
**/dist/**
**/logs/**
coverage/*
decrypted-keys.sh
dist/
git-sephora-commit.txt
jsconfig.json
logs/*
node_modules*
npm-debug.log
projects/agent_aware/*/content.*
projects/agent_aware/dist/
projects/agent_aware/src/js/ufe**
projects/server/.gitignore
projects/server/src/config/buildInfo.json
projects/server/ssl-keys
projects/server/tests/coverage
projects/server/tests/generated
projects/ufe-headers/js
ssl-keys/*
tmuxlaunch.sh
config/babel/sephora-gql-plugin-config.json
