*.bat
*.html
*.pl
*.png
*.sh
*.svg
*.txt
*.yaml
*.yml
githooks
Jenkinsfile
logs
node_modules
package-lock.json
projects/server
projects/server/tests
projects/ui/__tests__/coverage
projects/ui/**/*_en_US.js
projects/ui/**/*_fr_CA.js
projects/ui/dist
projects/ui/img
projects/ui/src/thirdparty
projects/ui/tests/**/*_en_US.js
projects/ui/tests/**/*_fr_CA.js
projects/ui/tests/output
projects/ui/tests/spec/locales/ResourceList.js
projects/ui/thirdparty
sonar-scanner.properties
tools/data
