.agent-aware-hide {
    display: none !important;
}

.agent-aware-show {
    display: inherit !important;
}

a[href='/creditcard-apply'] {
    pointer-events: none !important;
    background-color: #eee !important;
    color: #666 !important;
}

#agent-aware-app {
    position: sticky;
    top: 0;
    z-index: 1028;
}
@keyframes agent-spin {
    to {
        transform: rotate(360deg);
    }
}
