<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Properties>
    <Property name="LOG_PATTERN">
      %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
    </Property>
    <Property name="SEPHORA_LOG_PATTERN">
      %d{yyyy-MM-dd HH:mm:ss,SSS} %d{UNIX} %-5p [%c{1.}] (%t %X{requestMethod} %X{requestUri} %X{correlationId}) %m%n
    </Property>
    <Property name="LOGGING_PATH">
      ./log
    </Property>
    <Property name="LOGGING_FILE">
      app.log
    </Property>
  </Properties>

  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${SEPHORA_LOG_PATTERN}"/>
    </Console>

  </Appenders>
  <Loggers>

    <Logger name="com.sephora.services.inventoryavailability" level="debug" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="ConsoleAppender"/>
    </Root>
  </Loggers>
</Configuration>